.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: capitalize;
    padding: 1.5rem 5rem;
    display: inline-block;
    color: $black-color;
    letter-spacing: .05rem;
    background-color: $black-color;
}

.button {
    margin-top: 3rem;

    .all__btn {
        @include allBtn();
    }
}