.root__layout {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    height: 80vh;
    margin: auto;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: .5rem !important;
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-track {
        margin-top: 1.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary-color;
        border-radius: 1rem;
    }

    .top__side__section {
        width: 25%;
        height: 80vh;
        background-color: $dark-color;
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 2rem;

        &--content {
            width: 100%;
            padding: .5rem;
            margin-top: 2.5rem;

            &--avater {
                position: relative;
                width: 100%;
                height: auto;
                margin-bottom: 2.5rem;
                text-align: center;
                z-index: 1;



                &--img {
                    width: 24rem;
                    height: 24rem;
                    object-fit: cover;
                    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
                    margin-right: auto;
                    margin-left: auto;
                    box-sizing: border-box;
                    animation: morph 8s ease-in-out infinite;
                    border: 1rem solid $black-color;

                }
            }

            &--titles {
                text-align: center;
                margin-bottom: 2rem;

                &--first {
                    font: {
                        size: 3rem;
                        weight: 700;
                    }

                    color: $white-color;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: normal;
                    letter-spacing: .05rem;
                    text-transform: capitalize;
                    margin-bottom: 1rem;
                }

                &--second {
                    font: {
                        size: 1.85rem;
                        weight: 700;
                    }

                    line-height: normal;
                    color: $white-color;
                    letter-spacing: .05rem;
                    text-transform: capitalize;
                }
            }

            &--social--icon {
                margin-bottom: 2rem;

                &--list {
                    display: flex;
                    width: 100%;
                    justify-content: center;

                    li {
                        &:not(:last-child) {
                            margin-right: 1rem;
                        }

                        a {
                            position: relative;
                            display: inline-block;
                            width: 3rem;
                            height: 3rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 0 50% 50% 50%;
                            z-index: 1;
                            border: .1rem solid $primary-color;
                            transition: all .3s linear;

                            &::before {
                                content: "";
                                position: absolute;
                                width: 90%;
                                height: 90%;
                                background-color: $primary-color;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                border-radius: 0 50% 50%;
                                transition: all .3s linear;
                                z-index: -1;
                            }

                            span {
                                font-size: 1.7rem;
                                text-align: center;
                                line-height: 3rem;
                                color: $white-color !important;
                                transition: all .3s linear;
                            }

                            &:hover {
                                &::before {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

            }
        }

    }

    .all__section {
        width: 74.8%;
        height: 80vh;
        border-radius: 2rem;

        .about__section {
            min-height: 80vh;
            @include allSection();

            &--title {
                margin-bottom: 3rem;

                h2 {
                    @include allTitle;
                }
            }

            &--details {
                margin: 1rem 0;


                &--des {
                    @include allDes();

                    column: {
                        count: 2;
                        gap: 2rem;
                    }

                    margin-bottom: 3rem;
                }

                &--info {
                    margin-bottom: 3rem;

                    .info__list {
                        &--item {
                            display: flex;
                            flex-direction: row;
                            max-width: 50rem;
                            padding: .5rem 0;

                            &:not(:last-child) {
                                margin-bottom: 1.5rem;
                            }

                            &--label {
                                width: 10rem;

                                font: {
                                    size: 1.5rem;
                                    weight: 500;
                                }

                                display: inline-block;
                                color: $white-color;
                                margin: 0;
                                letter-spacing: .05rem;
                                text-transform: capitalize;
                            }

                            &--details {
                                font: {
                                    size: 1.5rem;
                                    weight: 400;
                                }

                                letter-spacing: .05rem;
                                color: $white-color;
                                display: block;

                                &:not(:last-child) {
                                    text-transform: capitalize;
                                }
                            }

                            .clone__style {
                                font: {
                                    size: 1.6rem;
                                    weight: 600;
                                }

                                width: 5rem;
                                display: inline-block;
                                color: $white-color;
                            }

                            a {
                                @extend .info__list--item--details;
                                transition: all .3s linear;

                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }
            }
        }

        .resume__section {
            @include allSection;

            &--title {
                margin-bottom: 3rem;

                h2 {
                    @include allTitle;
                }
            }

            .resume__container {
                position: relative;

                &:not(:last-child) {
                    margin-bottom: 3rem;
                }

                &--title {
                    position: relative;
                    margin-bottom: 3rem;
                    display: flex;
                    align-items: center;

                    span {
                        margin-right: 1rem;
                        font-size: 3rem;
                        color: $primary-color;
                        line-height: normal;
                    }

                    h3 {

                        font: {
                            size: 1.8rem;
                            weight: 600;
                        }

                        color: $white-color;
                        line-height: normal;
                        text-transform: capitalize;
                    }
                }

                &--item {
                    display: flex;
                    column-count: 2;
                    column-gap: 2rem;
                    align-items: flex-start;
                    border: .1rem solid rgba($white-color, .1);
                    padding: 2.5rem;
                    box-sizing: border-box;
                    border-radius: 2rem;

                    &:not(:last-child) {
                        margin-bottom: 3rem;
                    }

                    &--year {
                        position: relative;
                        column-width: 15rem;
                        background-color: $black-color;
                        padding: .4rem 0;
                        border-radius: 1rem;
                        text-align: center;

                        &::before {
                            content: "";
                            position: absolute;
                            width: 1.5rem;
                            height: 1.5rem;
                            background-color: $primary-color;
                            border-radius: 50%;
                            top: 50%;
                            right: -.7rem;
                            z-index: 1;
                            animation: resumedate 2000ms linear infinite;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            width: 1rem;
                            height: 1rem;
                            border: 0.3rem solid $primary-color;
                            border-radius: 50%;
                            top: 50%;
                            right: -.5rem;
                            transform: translateY(-50%);
                            background-color: $white-color;
                            z-index: 1;
                            box-sizing: border-box;
                        }

                        h6 {
                            font: {
                                size: 1.35rem;
                                weight: 500;
                            }

                            color: $primary-color;
                            line-height: normal;
                            letter-spacing: .1rem;
                            text-transform: capitalize;
                        }
                    }

                    &--details {
                        padding-left: 2rem;
                        border-left: .1rem solid $primary-color;


                        &--company {
                            margin-bottom: 1rem;

                            h5 {
                                font: {
                                    size: 1.5rem;
                                    weight: 600;
                                }

                                color: $primary-color;
                                line-height: normal;
                                letter-spacing: .1rem;
                                text-transform: capitalize;
                            }
                        }

                        &--position {
                            margin-bottom: 1rem;

                            h5 {
                                font: {
                                    size: 1.5rem;
                                    weight: 600;
                                }

                                color: $white-color;
                                letter-spacing: .1rem;
                                text-transform: capitalize;
                            }
                        }

                        &--des {
                            max-width: 50rem;

                            p {
                                @include allDes();
                            }
                        }
                    }
                }

                .skill__items {
                    &--bar {
                        width: 100%;

                        &:not(:last-child) {
                            margin-bottom: 2rem;
                        }


                        &--skill {
                            font: {
                                size: 1.5rem;
                                weight: 500;
                            }

                            color: $white-color;
                            text-transform: capitalize;
                            letter-spacing: .05rem;
                            margin-bottom: .5rem;
                            line-height: 2;
                        }

                        &--outer {
                            border: .1rem solid rgba($white-color, 0.5);
                            position: relative;
                            padding: .5rem 0;
                            border-radius: 2rem;
                            box-sizing: border-box;

                            &--inner {
                                width: 0;
                                height: 50%;
                                background-color: $primary-color;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                left: .2rem;
                                right: .2rem;
                                border-radius: 2rem;
                            }

                            &--persent {
                                font: {
                                    size: 1.5rem;
                                    weight: 500;
                                }

                                color: $white-color;
                                line-height: 2;
                                letter-spacing: .05rem;
                                position: absolute;
                                top: -3rem;
                                display: none;
                            }

                            .html {
                                left: calc(95% - 1rem);
                            }

                            .javascript {
                                left: calc(70% - 1rem);
                            }

                            .python {
                                left: calc(80% - 1rem);
                            }

                            .photo {
                                left: calc(75% - 1rem);
                            }

                            .marketing {
                                left: calc(65% - 1rem);
                            }

                        }
                    }
                }
            }
        }

        .service__section {
            @include allSection;

            &--title {
                margin-bottom: 3rem;

                h2 {
                    @include allTitle;
                }
            }

            &--items {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;

                &--item {
                    position: relative;
                    flex-basis: 49%;
                    padding: 2rem;
                    border: .01rem solid rgba($white-color, .1);
                    margin: .9rem 0;
                    box-sizing: border-box;
                    border-radius: 2rem;
                    z-index: 1;
                    overflow: hidden;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        transform: translateX(-80%) translateY(-80%);
                        border-radius: 2rem;
                        z-index: -1;
                        transition: all .3s ease-in;
                    }

                    &--icon {
                        position: relative;
                        display: inline-block;
                        width: 7rem;
                        height: 7rem;
                        border-radius: 0 50% 50%;
                        text-align: center;
                        margin-bottom: 1rem;
                        z-index: 1;
                        border: .1rem solid $primary-color;

                        &::before {
                            content: "";
                            position: absolute;
                            width: 90%;
                            height: 90%;
                            background-color: $primary-color;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            border-radius: 0 50% 50%;
                            transition: all .3s linear;
                            z-index: -1;
                        }

                        span {
                            font-size: 3rem;
                            color: $white-color;
                            display: inline-block;
                            line-height: 7rem;
                            transition: all .3s linear;
                        }
                    }

                    &--title {
                        margin-bottom: 1rem;
                        transition: all .3s linear;

                        h4 {
                            color: $white-color;

                            font: {
                                size: 1.7rem;
                                weight: 600;
                            }

                            line-height: normal;
                            text-transform: capitalize;
                        }
                    }

                    &--des {
                        p {
                            @include allDes();
                            transition: all .3s linear;
                        }
                    }

                    &:hover {



                        .service__section--items--item {

                            &--icon {
                                &::before {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                        }
                    }

                }
            }
        }

        .work__section {
            @include allSection;

            &--title {
                margin-bottom: 3rem;

                h2 {
                    @include allTitle;
                }
            }

            &--items {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                &--item {
                    position: relative;
                    flex-basis: 49%;
                    margin: .9rem 0;
                    z-index: 1;
                    border: .01rem solid rgba($white-color, 0.1);
                    padding: 1rem;
                    box-sizing: border-box;
                    overflow: hidden;
                    border-radius: 2rem;

                    &--img {
                        width: 100%;
                        height: 25rem;

                        img {
                            width: 100%;
                            height: 25rem;
                            object-fit: cover;
                            object-position: top;
                            overflow: hidden;
                            border-radius: 1.5rem;
                        }
                    }

                    &--details {
                        width: 100%;
                        position: absolute;
                        bottom: 1rem;
                        display: flex;
                        flex-direction: column;
                        background: transparent;

                        &--name {
                            width: fit-content;
                            margin-left: 4rem;
                            padding: .5rem 1.5rem;
                            background-color: $black-color;
                            margin-bottom: .1rem;
                            border-radius: 2.5rem;
                            text-align: center;
                            transform: translateX(-50%);
                            opacity: 0;
                            transition: all .2s linear;

                            h5 {
                                font: {
                                    size: 1.7rem;
                                    weight: 500;
                                }

                                line-height: normal;
                                color: $white-color;
                            }
                        }

                        &--date {
                            @extend .work__section--items--item--details--name;
                            margin-left: .5rem;
                            margin-bottom: 1rem;
                            background-color: $primary-color;
                            transition: all .3s linear;

                            p {
                                font: {
                                    size: 1.5rem;
                                    weight: 500;
                                }

                                line-height: normal;
                                color: $white-color;
                            }
                        }
                    }

                    &:hover {

                        .work__section--items--item--details--name,
                        .work__section--items--item--details--date {
                            transform: translateX(0);
                            opacity: 1;

                        }
                    }
                }
            }
        }

        .blog__section {
            @include allSection;

            &--title {
                margin-bottom: 3rem;

                h2 {
                    @include allTitle;
                }
            }

            &--items {
                &--item {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    border: .01rem solid rgba($white-color, 0.1);
                    margin: 1rem 0;
                    padding: 1rem;
                    box-sizing: border-box;
                    border-radius: 2rem;

                    &--img {
                        width: 49%;
                        overflow: hidden;
                        height: auto;
                        height: 25rem;

                        img {
                            width: 100%;
                            height: 25rem;
                            object-fit: cover;
                            object-position: center;
                            border-radius: 2rem;
                        }


                    }

                    &--details {
                        width: 49%;
                        height: 25rem;
                        display: flex;
                        flex-direction: column;
                        text-decoration: none;
                        color: $white-color;
                        line-height: normal;

                        &--title {
                            margin-bottom: .5rem;
                            flex: 1;

                            h4 {
                                font: {
                                    size: 1.7rem;
                                    weight: 600;
                                }

                                line-height: normal;
                                text-transform: capitalize;
                                letter-spacing: .05rem;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                        }

                        &--des {
                            flex: 8;

                            p {
                                @include allDes();
                                text-overflow: ellipsis !important;
                                overflow: hidden;
                                height: 20rem;
                                width: 100%;
                            }
                        }

                        &--footer {
                            flex: 1;
                            display: flex;
                            justify-content: space-between;

                            .blog--author {
                                h5 {
                                    font: {
                                        size: 1.35rem;
                                        weight: 600;
                                    }

                                    color: $white-color;
                                    margin-bottom: 1.5rem;
                                    letter-spacing: 0.05rem;
                                }
                            }

                            .blog--like {
                                &--icon {
                                    font-size: 1.5rem;
                                    margin-right: .5rem;
                                    color: $primary-color;
                                }

                                &--count {
                                    font: {
                                        size: 1.5rem;
                                        weight: 600;
                                    }

                                    color: $white-color;
                                }
                            }

                            .blog--comment {
                                &--icon {
                                    @extend .blog--like--icon;
                                }

                                &--count {
                                    @extend .blog--like--count;
                                }
                            }

                        }
                    }

                    &:last-child {
                        display: flex;
                        flex-direction: row-reverse;
                    }
                }

            }
        }

        .contact__section {
            @include allSection;

            &--title {
                margin-bottom: 3rem;

                h2 {
                    @include allTitle;
                }
            }

            &--items {
                width: 100%;

                &--form {
                    &--item {
                        width: 100%;

                        &--input {
                            font: {
                                family: inherit;
                                size: 1.5rem;
                                weight: 500;
                            }

                            width: 100%;
                            margin: 1rem 0;
                            padding: 1rem 0;
                            box-sizing: border-box;

                            border: {
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0.1rem solid $white-color !important;

                            }

                            outline: none;
                            box-shadow: none;
                            line-height: 1.5;
                            transition: .3s linear;
                            color: $white-color;
                            background-color: transparent;

                            &::placeholder {
                                font: {
                                    size: 1.5rem;
                                    weight: 500;
                                }

                                color: $white-color;
                            }

                            &:active,
                            &:focus {
                                outline: none;
                                box-shadow: none;
                                border-bottom: 0.1rem solid $primary-color !important;
                            }

                        }

                        &--button {
                            .contact__btn {
                                @extend .all__btn;
                            }

                        }
                    }

                }
            }
        }

        .footer {
            padding: 2rem 0;
            background: $dark-color;
            width: 100%;
            text-align: center;
            border-radius: 2rem;

            &--text {
                @include allDes();
            }
        }
    }
}