// Breckpoint variavle
$breakpoint-extra-large: 120rem;
$breakpoint-large: 99.2rem;
$breakpoint-medium: 76.8rem;
$breakpoint-small: 60rem;


// Color Variale
$primary-color: #da8311;
$white-color: #ffffff;
$light-color: #f7f7f7;
$black-color: #000;
$dark-color: #2c2a2a;

// Font Variable
$my-font: 'Mulish',
sans-serif;